<div>
  <h2>
    Categories
  </h2>
</div>
<div>
  <ul>
    <% @groups.each do |group| %>
      <%= link_to(group_path(group)) do %>
        <li>
          <div>
            <h3><%= group.name %></h3>
            <img src=<%= group.icon %> width='20' />
            <h4>Total amount: <%= group.group_contracts.sum { |gc| gc.contract.amount } %></h4>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
<div>
  <%= button_to "Add category", new_group_path, method: :get, class: ''  %>
</div>
