<% if user_signed_in? %>
  <header class="container-fluid bg-primary py-2 px-3">
    <nav class="d-flex w-100 justify-content-between align-items-center">
      <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'text-white text-decoration-none nova-bold'  %>
      <h6 class="text-white m-0 nova-bold">CATEGORIES</h6>
      <%= link_to "Add", new_group_path, method: :get, class: 'text-white text-decoration-none nova-bold'  %>
    </nav>
  </header>
  <section class="container-fluid vh-100 w-100 bg-light">
    <%= render "flash_notification" %>
    <div class="row p-3">
      <ul class='m-0 p-0'>
        <% @groups.each do |group| %>
          <%= link_to(group_path(group), class: 'text-decoration-none') do %>
            <li class="d-flex justify-content-evenly p-3 bg-white mb-3 align-items-center">
              <div class="w-25 text-center d-flex justify-content-start">
                <img src=<%= group.icon %> width='60' />
              </div>
              <div class="w-75 d-flex flex-column">
                <div class="w-100 d-flex align-items-center pb-2">
                  <h5 class="m-0 w-50"><%= group.name.capitalize %></h5>
                  <h5 class="m-0 w-50 nova-bold">$<%= group.group_contracts.sum { |gc| gc.contract.amount } %></h5>
                </div>
                <div class="w-100 d-flex align-items-end border-top pt-2">
                  <h6 class="m-0"><%= group.updated_at.strftime("%b %d, %Y") %></h6>
                </div>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </section>
  <div class="fixed-bottom px-3 pb-2">
    <%= button_to "Add category", new_group_path, method: :get, class: 'w-100 p-1 bg-secondary border-secondary text-white rounded-2 nova-bold'  %>
  </div>
<% else %>
  <section class="container-fluid vh-100 w-100">
    <div class="row h-100">
      <div class="col-12 d-flex justify-content-center align-items-end">
        <h1 class='nova-bold'>Rails Budget</h1>
      </div>
      <div class="d-flex flex-column justify-content-end px-5 mb-5">
        <%= button_to "LOG IN", new_user_session_path, method: :get, class: 'mb-2 p-1 bg-primary text-white border-primary rounded-2 w-100 nova-bold'  %>
        <%= button_to "SIGN UP", new_user_registration_path, method: :get, class: 'p-1 bg-transparent border-0 w-100 nova-bold'  %>
      </div>
    </div>
  </section>
<% end %>
